+<!DOCTYPE html>
<html>
<head>
    <title>Magos vs Dragones</title>
    <script src="https://npmcdn.com/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="css/foundation.min.css">
    <link rel="stylesheet" href="css/app.css">
    <script src="https://kit.fontawesome.com/7e69a7bbf0.js"></script>
</head>
<body>
<div id="app">
    <h1 style="text-align:center">Magos vs Dragones</h3>
    <section class="row">
        <div class="small-6 columns">
            <h1 class="text-center"><i class="fas fa-hat-wizard fa-2x"></i></h1>
            <div class="curarthbar">
                <div class="curarthbar text-center" 
                style="background-color: goldenrod; margin: 0; color: white;"
                :style="{width: mago.vida + '%'}">
                {{mago.vida}}%
                </div>
            </div>
        </div>
        <div class="small-6 columns">
            <h1 class="text-center"><i class="fas fa-dragon fa-flip-horizontal fa-2x"></i></h1>
            <div class="curarthbar">
                <div class="curarthbar text-center" 
                    style="background-color: rgb(3, 110, 12); margin: 0; color: white;"
                    :style="{width: dragon.vida + '%'}"
                    >
                    {{dragon.vida}}%
                </div>
            </div></div>
    </section>
    <section class="row controls" v-if="!hayUnaPartidaEnJuego">
        <div class="small-12 columns">
            <button id="start-game"  @click="empezarPartida">
                EMPEZAR JUEGO NUEVO</button>
        </div>
    </section>
    <section class="row controls" v-else>
        <div class="small-12 columns">
            <button id="atacar" @click="atacar">ATACAR</button>
            <button id="ataque-especial" @click="ataqueEspecial" :disabled="!isAvailable()">ATAQUE ESPECIAL</button>
            <button id="curar" @click="curar">CURAR</button>
            <button id="rendirse" @click="terminarPartida">RENDIRSE</button>
        </div>
    </section>
    <section class="row log" v-if="logdeAtaques.length > 0">
        <div class="small-12 columns">

            <ul>
        <li v-for="(turno,index) in logdeAtaques"
                :class="cssParaLaFila(turno)"
                :style="{'text-align': turno.esMago?'left':'right','opacity':index <=1?1:0.3}">
                    {{ turno.text }} {{turno.value}}
                </li>
            </ul>
            
        </div>
    </section>
</div>
    <script>
        new Vue({
            el:'#app',
            data: {
                contAtaquesEsp: 0,
                mago: {
                    vida: 100,
                    rangoAtq: [3,10],
                    atqEspecial: [10,20],
                    curacion: 10
                },
                dragon: {
                    vida: 100,
                    rangoAtq: [5,12],
                    atqEspecial: null
                },
                logdeAtaques: [],
                hayUnaPartidaEnJuego: false
            },
            methods: {
                curar(){
                    const valorAtqDragon = this.atacarPersonaje(this.dragon.rangoAtq)
                   const proxValor = this.mago.vida - valorAtqDragon + this.mago.curacion
                    if ( proxValor < 100){
                    this.mago.vida = proxValor

                    this.generarLog(this.mago.curacion, valorAtqDragon, true)
                    } else { return this.mago.vida = 100
                        }
                },
                isAvailable(){
                    const ATQ_MAX_CONT = 2
                    return this.contAtaquesEsp < ATQ_MAX_CONT
                },
                atacarPersonaje(rango){
                    const min = rango[0]
                    const max = rango[1]
                    return Math.ceil(Math.random() * (max - min) + min)
                },
                generarLog(magoAtq, dragonAtq, esUnaCuracion){
                    const textMago = esUnaCuracion ? "el mago se curo: " : "ataque del mago es de"
                    const log1 = {
                        esMago: true,
                        value: magoAtq,
                        text: textMago
                    }
                    const log2 = {
                        esMago: false,
                        value: dragonAtq,
                        text:"ataque del dragon es de "
                    }

                    const arrAux = [...this.logdeAtaques]
                    arrAux.splice(0,0,log1)
                    arrAux.splice(0,0,log2)
                    this.logdeAtaques = arrAux
                },
                sePuedeAtacar(nuevoValorMago,nuevoValorDragon){
                    if(nuevoValorMago <= 0 ) {
                        alert("usted a perdido la partida")
                        return false
                      }  if (nuevoValorDragon <= 0) {
                        alert("usted a ganado la partida!!")
                        return false
                    }
                        else {
                        return true
                    }
                },
                atacar(){
                    
                    const valorAtqMago = this.atacarPersonaje(this.mago.rangoAtq)
                    const valorAtqDragon = this.atacarPersonaje(this.dragon.rangoAtq)

                    const nuevoValorMago = this.mago.vida - valorAtqDragon
                    const nuevoValorDragon = this.dragon.vida - valorAtqMago

                    if (this.sePuedeAtacar(nuevoValorMago,nuevoValorDragon)) {
                        this.mago.vida = nuevoValorMago
                        this.dragon.vida = nuevoValorDragon

                        this.generarLog(valorAtqMago, valorAtqDragon)
                       } 

                   
                    
                },
                empezarPartida(){
                    this.mago.vida = 100;
                    this.dragon.vida = 100;
                    this.contAtaquesEsp = 0;
                    this.hayUnaPartidaEnJuego = true;
                    this.logdeAtaques=[];
                },
                cssParaLaFila(turno){
                    return turno.esMago ? 'player-turno' : 'monster-turno';
                },
                terminarPartida(){
                    alert ("usted a finalizado el juego")
                    this.empezarPartida()
                    this.hayUnaPartidaEnJuego=false
                },
                ataqueEspecial(){
                    const valorAtqMago = this.atacarPersonaje(this.mago.atqEspecial)
                    const valorAtqDragon = this.atacarPersonaje(this.dragon.rangoAtq)
                    this.mago.vida = this.mago.vida - valorAtqDragon
                    this.dragon.vida = this.dragon.vida - valorAtqMago
                    this.contAtaquesEsp++

                    this.generarLog(valorAtqMago, valorAtqDragon)
                },
            }
        })
    </script>
<!-- <script src="app.js"></script> -->
</body>
</html>